.header-bg{
    background: #4e8e9e;

}
.main-bg{
    background:#C1E3EC;
}

.bg-footer{
    background:#2D5E6B;
}
.mt-10{
    margin-top: 11%;
}

.textrojo{
    margin-top: -280px;
    margin-left: 900px;
    margin-right: 100px;
}

.textverde{
    margin-top: -280px;
    margin-left: 100px;
    margin-right: 900px;
}

.textblanco{
    margin-top: -280px;
    margin-left: 900px;
    margin-right: 100px;
}

.autorojo{
    margin-left: 200px;
    margin-top: 20px;
    width: 550px;
    height: 450px;
}

.autoverde{
    margin-left: 1150px;
    margin-top: 220px;
    width: 550px;
    height: 450px;
}

.autoblanco{
    margin-left: 200px;
    margin-top: 220px;
    margin-bottom: 20px;
    width: 550px;
    height: 450px;
}

#carousel{
    padding: 0;
    margin: 0;
    position: relative;
    top: -40px;
}

#inputcontact{
    width: 585px;
    padding-bottom: 5px;
}
#inputlogin{
    width: 470px;
    margin-bottom: 20px;
}
#inputregister{
    width: 470px;
    margin-bottom: 20px;
}

#menu{
    padding: 20px;
}


#lista{
    padding: 10px;
    margin: 0 auto;
    width: fit-content;
    #elemento{
        margin-bottom: 3px;
    }
}

#acerca{
    font-size: 18px;
}

#cajas{
    background-color: rgba(255, 255, 255, 0.5);
    #textcaja{
        color: black;
    }
}
#text1{
    margin: 5px;

}

.navbar-nav .nav-link {
    color: #333;
}

.navbar-nav .nav-link:hover {
    color: #007BFF;
}

/* Ajuste de los botones de las tarjetas */
.btn-outline-success {
    width: 100%;
}

/* Ajustes para que las tarjetas sean de igual altura */
.card {
    height: 100%;
    display: flex;
    flex-direction: column;
}

.card-body {
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.card-body {
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

#content-box {
    background-color: #f8f9fa;
    border: 1px solid #dee2e6;
    border-radius: 10px;
    padding: 30px;
    margin-top: 30px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

#map{
    padding-top: 20px;
}

.search-form{
    margin: 20px 20px;
}
#search-form{
    padding-top: 20px;
}

.searchbox{
    padding: 10px 20px;
    background-color: var(--text-color);
    max-width: 400px;
    margin: 0px auto;
    border-radius: 3px;
}

.search{
    width: 100%;
    background-color: var(--text-color);
    background-color: #d3d3d3;
    border: none;
    font-size: 1.3rem;
}

.search:focus {
    outline: none;
}

.weather-card{
    margin: 20px 20px;
    background: var(--text-color);
    color: var(--bg-color);
    padding: 20px;
    text-align: center;
    border-radius: 3px;
    display: none;
}
.city{
    font-size: 2.5rem;
    text-transform: uppercase;
    margin-bottom: 0.5rem;
    font-weight: bold;
}
.date{
    font-size: 1.5rem;
    margin-bottom: 1rem;
    font-weight: bold;
}
.temp-img{
    width: 250px;
}
.temperature{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 2rem;
}
.temp{
    font-size: 2.2rem;
    font-weight: bold;
}
.weather{
    font-size: 1.8rem;
    margin-bottom: 1rem;
    font-weight: bold;
}
.range{
    font-size: 1.5rem;
    font-weight: bold;
}