*{
  margin: 10;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Roboto',sans-serif;
}

.fondo{
  width: 430px;
  background: transparent;
  color: #fff;
  backdrop-filter: blur(10px);
  box-shadow: 0 0 10px rgba(0, 0, 0, .1);
  border-radius: 8px;
  padding: 30px 40px;
  border: 2.5px solid #040d12;
}

.fondo h1{
  font-size: 40px;
  text-align: center;
}

/*Texto dentro*/
.contenedor input::placeholder{
  color: #000000;
}

.fondo .recordar{
  display: flex;
  justify-content: space-between;
  font-size: 15px;
  margin: 15px 0 15px;
}

.recordar label input{
  accent-color: red;
  margin-right: 3px;
}

.recordar a{
  color: #070707;
  text-decoration: none;
}

.fondo .contenedor{
  width: 100%;
  height: 50px;
  margin: 30px 0;
}

.recordar a:hover{
  text-decoration: underline;
}
.btn2{
  width: 50px;
  height: 50px;
  background-color: #040d12;
  border: none;
  outline: none;
  border-radius: 100%;
  box-shadow: rgba(0, 0, 0, .1);
  color: #fff;
  font-weight: bold;
}
.btn1{
  width: 100%;
  height: 45px;
  background-color: #040d12;
  border: none;
  outline: none;
  border-radius: 30px;
  box-shadow: rgba(0, 0, 0, .1);
  color: #fff;
  font-weight: bold;
}

.fondo .registro-enlaces{
  font-size: 15px;
  text-align: center;
  margin-top: 20px 0 15px;
}

.registro-enlaces p a{
  color: #fff;
  text-decoration: none;
  font-weight: bold;
}
.contenedor input{
  width: 100%;
  height: 100%;
  background: transparent;
  border: none;    
  outline: none; 
  border: 2px solid #040d12;
  border-radius: 30px;
  font-size: 17px;
  color: #000000;
  padding: 20px 40px 20px 20px;
}

.registro-enlaces p a:hover{
  text-decoration: underline;
}

body{
  background-image: url(../img/registro.avif);
  background-size: cover;
  display: flex; 
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  background-position: center;
}

  