{% extends 'usuarios/index.html' %}

{% block title %}Contáctanos{% endblock %}

{% block content %}


<div class="container mt-4">
    <div class="row">
        <div class="col-md-6 offset-md-3">
            <div class="card">
                <div class="card-body">
                    <h1 class="card-title">¡Bienvenido a mi Proyecto Django!</h1>
                    <p class="card-text">Lorem ipsum dolor sit amet consectetur adipisicing elit. Cumque saepe odio,
                        amet vitae ex veniam nisi veritatis quisquam, tenetur illum laboriosam dignissimos.
                        Perferendis quisquam quidem, distinctio quae cupiditate maiores, dolore ipsum, asperiores
                        recusandae aliquid mollitia obcaecati doloremque voluptatum optio ipsam!</p>
                </div>
            </div>
        </div>
    </div>
</div>

{% endblock %}